{% include 'partials/header.html' %}

<form action="/create_plate/" method="post">
	{% csrf_token %}
	Plate Number:<br>
	<input type="text" name="plate_number" class="input_plate_number" id="plate_number" value="{{plate_number}}">
	<br>
	Plate Owner:<br>
	<input type="text" name="plate_owner" class="input_plate_owner" id="plate_owner" value="{{plate_owner}}">
	<br><br>
	<input type="submit" value="Submit" id="create_plate_sub">
</form> 
<p style="color: red;">{{err_message}}</p>
<p>Click Submit to create car plate</p>

{% include 'partials/footer.html' %}
