{% include 'partials/header.html' %}
<h2>Car Plates</h2>
<a href="/car_plates_a/create_plate">Create Plate</a>
{% if plates_list %}
    <table style="width:380px; border-style: solid;">
    <tr style="border-style: solid;">
    	<th  style="border-style: solid;">Plate Number</th>
    	<th  style="border-style: solid;">Plate Owner</th>
    	<th  style="border-style: solid;">Create Date</th>
        <th  style="border-style: solid;">Remove/Update</th> 
 	</tr>
    {% for plate in plates_list %}
  	<tr>
    	<td><a href="/car_plates_a/{{ plate.id }}/">{{ plate.plate_number }}</a></td>
        <td><p>{{ plate.plate_owner }}</p></td> 
    	<td><a><p>{{ plate.create_date }}</p></a></td>
    	<td>
	        <a href="/car_plates_a/{{ plate.id }}/delete_plate">Remove</a>
	        <a href="/car_plates_a/{{ plate.id }}/update_plate">Update</a>
      	</td> 
  	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No car plates are available.</p>
{% endif %}
<!-- <a href="/lt_car_plates/create_plate/">Create Person</a> -->
<!-- <a href="/car_plates_a/create_plate/">Create Car Plate</a> -->

{% include 'partials/footer.html' %}
