{% include 'partials/header.html' %}

<form action="/{{car_plate.id}}/update_plate/" method="post">
	{% csrf_token %}
	Plate Number:<br>
	<input type="text" name="plate_number" id="up_plate_number" class="input_plate_number" value="{{ car_plate.plate_number }}">
	<br>
	Plate Owner:<br>
	<input type="text" name="plate_owner" id="up_plate_owner" class="input_plate_owner" value="{{ car_plate.plate_owner }}">
	<br><br>
	<input type="submit" value="Submit" id="update_plate_sub">
</form>
<p style="color: red;">{{err_message}}</p>
<p>Click Submit to update Car Plate data!</p>

{% include 'partials/footer.html' %}
